:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  position: relative;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: rgb(29, 2, 118);
}
*::-webkit-scrollbar-thumb {
  background-color: #1677ff;
  border-radius: 5px;
  border: 3px solid rgb(28, 12, 92);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
}

.ant-list-item span{
  color: white;
  font-size: 15px;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(125deg, #00103a 0%, #3e5f77 100%);
  overflow: hidden;
}
